.newsletter__bg {
    background-color: var(--first-color);
    padding: 3rem 1.5rem;
    text-align: center;
    row-gap: 2.5rem;
}

.newsletter__title {
    font-size: var(--h1-font-size);
    color: hsl(0, 0%, 15%);
    margin-bottom: var(--mb-1-5);
}

.newsletter__description {
    color: hsl(0, 0%, 35%);
}

.newsletter__subscribe {


    row-gap: .75rem;
}

.newsletter__input {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 94%);
    padding: 1.25rem 1rem;
    color: hsl(0, 0%, 15%);
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #FFF;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--button-color-alt);
}

@media screen and (min-width: 767px) {
    .newsletter__bg {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .newsletter__bg {
        text-align: initial;
        column-gap: 2rem;
        padding: 4.5rem;
    }

    .newsletter__subscribe {}

    .newsletter__input {
        width: 100%;
    }
}